.question-tooltip {
  position: relative;
  display: inline-block;
}

.question-tooltip .question-tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.question-tooltiptext {
  font-size: medium;
  height: 60%;
  font-weight: normal;
  padding: 5px 20px;
  margin-left: 7px;
}

.question-tooltip:hover .question-tooltiptext {
  visibility: visible;
}

#next_questions_box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #73ad21;
  background-color: aliceblue;
}

.question {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;
  color: lightgrey;
}
